*{
    box-sizing:border-box;
}

.btm{
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
}

.rtm{
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
}

input[value], input[type=text]{
    color: gray;
}


